<section class="canvas-painter" #canvasContainer>
    <canvas #canvas class="canvas-painter__canvas"></canvas>
    <div *ngIf="showDebugPanel" class="canvas-painter__overlay_debug debug">
        <div>CanvasCoords: {{ canvasCoords | json }}</div>
        <div>ScreenCoords: {{ screenCoords | json }}</div>
        <div>MovementVector: {{ movementVector | json }}</div>
        <div>Zoom: {{ zoom }}</div>
        <div>Frame: {{ canvasFrame | json }}</div>
        <div>Transform: {{ transform | json }}</div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="canvas-painter__overlay_svg" #svgOverlay>
        <g>
            <ng-content select="[cpSvg]"></ng-content>
        </g>
        <ng-container *ngFor="let layer of svgElements  | keyvalue">
            <g [ngStyle]="{opacity: layer.value.opacity}" [attr.data-layer-id]="layer.value.id"
                [attr.data-layer-name]="layer.value.name">
                <ng-container *ngFor="let path of layer.value.objects">
                    <path class="cp-path" [ngClass]="path.hostClass"
                        [attr.d]="utils.createSVGPath(path.geometry, path.properties)"
                        [attr.stroke]="path.hover ? path.properties?.hoverStrokeColor ?? path.properties?.strokeColor ?? 'black' : path.properties?.strokeColor ?? 'black'"
                        [attr.stroke-width]="(path.hover ? path.properties?.hoverStrokeWidth ?? path.properties?.strokeWidth ?? 2 : path.properties?.strokeWidth ?? 2) * (path.properties?.maintainRelativeWidth || maintainRelativeWidth ? 1 / zoom : 1)"
                        [attr.stroke-linecap]="path.properties?.strokeLineCap ?? 'butt'"
                        [attr.stroke-linejoin]="path.properties?.strokeLinejoin ?? 'miter'"
                        [attr.fill]="path.hover ? path.properties?.hoverFill ?? path.properties?.fill ?? 'none' : path.properties?.fill ?? 'none'"
                        (click)="path.clickCallback ? path.clickCallback(getEventInfo(), path.properties.data) : path.pathClick.emit(getEventInfo())"
                        (mouseenter)="path.hover = true" (mouseleave)="path.hover = false">
                    </path>
                </ng-container>
            </g>
        </ng-container>
    </svg>
    <div class="canvas-painter__overlay_markers">
        <ng-content select="[cpMarker]"></ng-content>
    </div>
    <div class="canvas-painter__edit_markers">
        <ng-container *ngFor="let object of selection">
            <div *ngIf="object.editable" class="canvas-painte__edit-marker edit-marker">{{ object.id }}</div>
        </ng-container>
    </div>
    <div *ngIf="isLoading" @fadeInOut class="canvas-painter__overlay_loader">
        <ng-content select="[loader]"></ng-content>
    </div>
</section>