<div class="wrapper">
  <header>BLAADAF</header>
  <main>
    <nav></nav>
    <div class="canvas">
      <mf-canvas-painter [showDebugPanel]="true" [bgImageByURL]="imageURL$ | async" [centerOrigin]="false"
        [holdZoomToImage]="false" [zoom]="zoom" [maintainRelativeWidth]="false" [layersSVG]="svgLayers" (canvasReady)="onCanvasReady($event)"
        (zoomChange)="onChangeZoom($event)" (canvasClick)="handleCanvasClick($event)">

        <div class="loader" loader>
          <div class="loader__content">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        </div>

        <cp-svg-path [geometry]="[[[0,0], [100,100], [200,-300], [420,150]], [[420,150], [400,500], [278,500]]]"
          [properties]="pathOptions" (pathClick)="pathClick($event, pathOptions)">
        </cp-svg-path>
        <!-- <cp-svg-path [geometry]="[[120,150], [400,500], [278,500]]" [properties]="pathOptions" (pathClick)="pathClick()">
            </cp-svg-path> -->

        <!-- <cp-svg-path [geometry]="[[0,0], [100,100], [200,-300]]" [properties]="pathOptions" (pathClick)="pathClick()">
            </cp-svg-path>
            <cp-svg-path [geometry]="[[120,150], [400,500], [278,500]]" [properties]="pathOptions" (pathClick)="pathClick()">
            </cp-svg-path> -->

        <!-- <cp-svg-path [geometry]="[[400,400], [620,420], [510,450]]" [properties]="pathOptions"></cp-svg-path> -->
        <cp-svg-path [geometry]="[[400,-400], [620,-420], [510,-450]]" [properties]="pathOptions"></cp-svg-path>
        <cp-svg-path [geometry]="[[-400,400], [-620,420], [-510,450]]" [properties]="pathOptions"></cp-svg-path>
        <cp-svg-path [geometry]="[[-400,-400], [-620,-420], [-510,-450]]" [properties]="pathOptions"></cp-svg-path>

        <div *ngFor="let marker of markers" cpMarker [id]="marker.id" [x]="marker.x" [y]="marker.y"
          [linkedMarkers]="marker.links" [properties]="markerOptions" class="marker" (click)="handleMarkerClick()"
          (positionUpdated)="handleMarkerPositionUpdate($event, marker)">{{ marker.value }}
        </div> -->

      </mf-canvas-painter>

      <div class="tools-right">
        <mat-button-toggle-group [value]="currentImageIndex" aria-label="Plans" (change)="changeImage($event)">
          <mat-button-toggle *ngFor="let image of images; let i = index" [value]="i ">{{ i + 1 }}</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-slider min="0.01" max="20" step="0.01" [value]="zoom" (input)="onChangeZoom($event.value)" showTickMarks>
          <input matSliderThumb>
        </mat-slider>
        <mat-slide-toggle [(ngModel)]="isMarkersAddMode">Markers add mode: {{isMarkersAddMode}}</mat-slide-toggle>
      </div>
    </div>
    <aside></aside>
  </main>
  <footer>sds</footer>
</div>

<!-- <div>
  <ng-template [appInjectorTest]="{ id: 'HELLO' }" [appInjectorTestCmp]="component"></ng-template>
</div> -->

<!-- <app-videocard-names></app-videocard-names>

<div *ngFor="let name; of [1, 2, 3]; index as i">{{ name + ' ' + i }}</div>

<app-host>
  <div *appContextTest="let n let c = component">{{ n + ' ' + c }}</div>
</app-host> -->

<!-- <div *appLoop="let b of ['1a', '2b', '3c'] let i = index">{{ b + ' : ' + i }}</div>

<ng-template [appLoop] let-c let-i="index" [appLoopOf]="['1a', '2b', '3c']">
  <div>{{ c + ' : ' + i }}</div>
</ng-template> -->

<!-- <ng-container *appLoop="let value; of ['1a', '2b', '3c']; tmp loopTemp"></ng-container>
<ng-template [appLoop] [appLoopOf]="['1a', '2b', '3c']" [appLoopTmp]="loopTemp"></ng-template>
<ng-template [appOutlet]="loopTemp" [appOutletContext]="{ $implicit: 'This is implicit 3' }"></ng-template>
<ng-container *ngTemplateOutlet="loopTemp context: { $implicit: 'This is implicit 2' }"></ng-container>

<app-video-player></app-video-player> -->

<!--


<ng-template [ngTemplateOutlet]="loopTemp" [ngTemplateOutletContext]="{ $implicit: 'This is implicit' }"></ng-template>


<ng-template [appOutlet]="loopTemp" [appOutletContext]="{ $implicit: 'This is implicit 3' }"></ng-template>
<ng-container *appOutlet="loopTemp; context { $implicit: 'This is implicit 4' }"></ng-container> -->

<!-- <ng-template #loopTemp let-item let-i="index">
  <div>
    <div>some item</div>
    <div>{{ item + ' : ' + i }}</div>
  </div>
</ng-template> -->
